body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #515fba,#000000);
    margin: 0;
    padding: 0;
    height: auto;
    align-self: center;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 5%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  header {
    background-color: #6c7ad9;
    color: #fff;
    padding: 15px;
    text-align: center;
  }


  
  #siteTitle {
    margin: 0;
  }
  
  header {
    background-color: #6c7ad9;
    color: #fff;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  input[type="text"] {
    padding: 8px;
    margin-right: 5px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  section {
    padding: 20px;
  }
  
  a {
    color: #6c7ad9;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #6c7ad9;
  }
  
  button {
    background-color: #6c7ad9;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #6c7ad9;
  }
  
  form {
    margin-top: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  img{
    margin-top: 1000px;
    margin-left: 100px;
    margin-right: 10px;
  }
  img.secondimage{
    max-width: 100%;
    height: auto;
    margin-right: 10%;
    margin-bottom: 100%;
    margin-inline-start: auto;

  }
  img.sea-angel{
    max-width: 5%;
    height: auto;
    margin-top: 476vh;

  }
  footer{
    padding: 10px;
    text-align: center;
    max-width: 800px;
    margin: auto;
    margin-top: 10929vh;
    color: #ccc;
  }